
// ---------------- Margins
@for $i from 0 through 5 {
  .m#{$i * 5} {
    margin: #{$i * 5};
  }
  .mb#{$i * 5} {
    margin-bottom: #{$i * 5};
  }
  .mt#{$i * 5} {
    margin-top: #{$i * 5};
  }
  .ml#{$i * 5} {
    margin-left: #{$i * 5};
  }
  .mr#{$i * 5} {
    margin-right: #{$i * 5};
  }
}


// ---------------- paddings
@for $i from 0 through 5 {
  .p#{$i * 5} {
    padding: #{$i * 5};
  }
  .pb#{$i * 5} {
    padding-bottom: #{$i * 5};
  }
  .pt#{$i * 5} {
    padding-top: #{$i * 5};
  }
  .pl#{$i * 5} {
    padding-left: #{$i * 5};
  }
  .pr#{$i * 5} {
    padding-right: #{$i * 5};
  }
}

// ---------------- Sizes
.fullheight {
  height: 100%;
  height: 100vh;
}
.halfheight {
  height: 50%;
  height: 50vh;
}
.fullwidth {
  width: 100%;
  width: 100vw;
}

.flex {
  display: flex;
  &.f-column {
    flex-direction: column;
  }
  &.f-row {
    flex-direction: row;
  }
  &.j-center {
    justify-content: center;
  }
  &.a-center {
    align-content: center;
  }
  &.j-space-around {
    justify-content: space-around;
  }
  &.a-space-around {
    align-content: space-around;
  }
}
.mt-half {
  margin-top: -25vh;
}
.mb-half {
  margin-bottom: -25vh;
}
