// --------- text
.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.right {
  float: right;
}
.left {
  float: left;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.light {
  font-weight: 300;
}

.normal {
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  margin: 1.5rem 0 0.5rem 0;
  // font-variant: small-caps;
  // font-weight: 200;
}
h1 {
  font-weight: 600;
  font-size: 3rem;
}
h2 {
  font-weight: 500;
  font-size: 2rem;
}
h3 {
  font-weight: 400;
  font-size: 1.5rem;
  // text-transform: uppercase;
  // font-variant: small-caps;
}
.no-underlined-links a{
  text-decoration: none;
}
a {
  color: #6a89cc;
  text-decoration-line: underline;
  text-decoration: none;
  &:hover {
    color: #1e3799;
  }
  &:active, &:focus {
    color: #b71540;
  }
}
.subtitle {
  color: #555;
  font-weight: 200;
  text-transform: uppercase;
  margin: -1rem 0 0 0;
}
