@import 'variables.scss';

.button {
  display: inline-block;
  padding: .3rem .7rem;
  border-radius: 2px;
  background-color: $primary;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;

  &.white {
    border: 2px solid;
  }

  &:hover:after {
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}


.big {
  padding: 1rem $padding;
}