
.primary {
  background: $primary;
  color: #fff;
}
.primary-color {
  color: $primary;
}
.danger {
  background: $danger;
  color: #fff;
}
.danger-color {
  color: $danger;
}
.info {
  background: $info;
  color: #fff;
}
.info-color {
  color: $info;
}
.warning {
  background: $warning;
  color: #fff;
}
.warning-color {
  color: $warning;
}
.white {
  background-color: #fff;
}
.dark-color {
  color: $dark;
  border-color: $dark;
}
.dark {
  color: #fff;
  background-color: $dark;
}

.colorchange {
  animation: colorchange 10s infinite;
}

@keyframes colorchange {
  0% {color:#f8c291}
  15% {color:#f6b93b}
  30% {color:#e55039}
  45% {color:#4a69bd}
  60% {color:#60a3bc}
  75% {color:#78e08f}
  90% {color:#b8e994}
  100% {color:#f8c291}
}
.fancy {

    animation: 10s infinite left-right;
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #833ab4, #fd1d1d, #fcb045);
    background: -o-linear-gradient(right, #833ab4, #fd1d1d, #fcb045);
    background: -moz-linear-gradient(right, #833ab4, #fd1d1d, #fcb045);
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    background-size: 800% 800%;
}
@keyframes left-right {
  0% {
    background-position: 0 80%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0 80%;
  }
}