@import 'variables.scss';

[class*="container"] {
  background-color: $containercolor;
  margin: 0 auto;
  padding: $padding;
}

.container {
  max-width: $medium - $padding;
}
.container-l {
  max-width: $large - $padding;
}