@import 'variables.scss';

.s-hidden, .m-hidden, .l-hidden {
  display: none !important;
}

.column {
  display: flex;
  flex: 1 auto;
}
.column.x2 {
  flex: 2 auto;
}
.column.x3 {
  flex: 3 auto;
}
.column.x4 {
  flex: 4 auto;
}

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

[class*="sm-"],
[class*="md-"],
[class*="lg-"]{
  display: flex;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

