@import 'variables';
@import 'container';
@import 'grid';
@import 'buttons';
@import 'tables';
@import 'helpers/index';
@import 'navbar';
@import 'colors';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $backgroundcolor;
  color: #363640;
  font-size: 100%;
  font-family: "IBM Plex Sans";
  box-sizing: border-box;
}
