
nav {
  z-index: 99999;
  // width: $navwidth;
  position: fixed;
  top: 50%;
  left: calc((100% - #{$medium}) / 2 - 2rem);
  color: $navcolor;
  transform-origin: center center;
  transform: translate(-100%, -50%);
  // border-right: 1px solid $dark;
  text-align: right;
  &.l {
    left: calc((100% - #{$large}) / 2 - 2rem);
  }
  .title {
    font-size: 1.2rem;
  }
  .subtitle {
    margin: 0;
  }
  hr {
    max-width: 90%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $default;
    // margin: 1em 0;
    padding: 0;
  }
  ul {
    flex-wrap: wrap;
    padding: 0;
    cursor: pointer;
    list-style: none;
    text-transform: uppercase;
    font-weight: 300;
    li {
      padding-bottom: 5px;
      color: #666;
      &:hover {
        color: #111;
      }
    }
  }
}

@media (max-width: 75rem) {
  nav {
    position: relative;
    transform: none;
    margin: 0 auto;
    max-width: $medium;
    width: 100%;
    left: 0;
    border: none;
    ul {
      display: flex;
      text-align: center;
      li {
        flex-basis: 25%;
      }
    }
    hr,
    .title,
    .subtitle {
      display: none;
    }
  }
}

header {
  background: #fff;
  display: block;
  padding: 1rem;
}

footer {
  margin-top: 1rem;
  display: block;
  padding: 1rem;
  background: #eee;
}

.container > footer {
  margin: 1rem -2rem -2rem -2rem;
}