table {
  border-collapse: collapse;
  margin: .5rem 0;
  width: 100%;
}
tr {
  border: 1px solid #ccc;
  td, th {
    text-align: left;
    padding: .8rem;
  }
}

.horizontal tr {
  border-width: 1px 0 1px 0;
}

.simple{
  th {
    background-color: #204060;
    color: #fff;
    font-weight: normal;
  }
  td {
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
}