// ---------- Widths
$large : 75rem;
$medium : 48rem;

// ---------- Colors
$dark : #26293d;
$default : #ccc;
$primary: #204060;
$danger: #b71540;
$info: #b8e994;
$warning: #fad390;
$backgroundcolor: #F8F9FB;
$containercolor: #fff;

// ----------- Padding
$padding: 2rem;
$margin: 1rem;

// ----------- navbar variables
$navwidth: 10rem;
$navbackground: $backgroundcolor;
$navcolor: #333;

